<div class="panel panel-default">
<button type="button" class="close" aria-label="Close"><span class="glyphicon glyphicon-remove" ng-click="delete()"></span></button>
  <div class="panel-heading">
		<h3 editable-field resource="list" text="list.title" attr="'title'">{{list.title}}</h3>
		<p editable-field resource="list" text="list.description" attr="'description'">{{list.description}}</p>
  </div>
  <ul class="list-group" drop-container>
  	<li class="list-group-item" ng-repeat="card in cards | filter: {completed: false}" ng-click="openModal(card)">
  		<p>{{card.title}}</p>
  	</li>
  	<li class="no-dot">
			  <div class="panel-body" ng-show="createMode">
			  	<textarea ng-model="cardData.title" required></textarea>
			  </div>
			  <a ng-click="creating()" ng-show="!createMode">&nbspAdd a Card...</a>
			  <button ng-show="createMode" ng-click="createCard()" class="btn btn-success" ng-disabled="!cardData.title">Add</button>
        <button ng-show="createMode" ng-click="createMode = false" class="btn btn-default">Cancel</button>
			</div>
  	</li>
  </ul>
</div>