<div class="row">

	<div class="col-md-8">
		<h3 editable-field resource="board" text="board.title" attr="'title'">{{board.title}}</h3>
	</div>

	<div class="col-md-4">
		Select Board: 
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{board.title}}<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" ng-show="boards.length>0">
				<li ng-repeat="board in boards">
				<a ui-sref="boards.show({id: {{board.id}}})">{{board.title}}</a>
				</li>
			</ul>
		</div>
	<a ng-click="delete()">Delete Board</a>
	<a><span ng-click="createMode=!createMode">Create a New Board</span></a>
	<form ng-show="createMode">
		<label for="title">Title</label>
		<input type="text" name="title" ng-model="formData.title" class="form-control" required placeholder="Like 'Djello planning' for example...">
		 <input type="submit" value="Create" class="btn btn-success" class="form-control" ng-click="createBoard(formData)">
		</form>
	</div>

</div>

<div class="row">
	<div class="col-xs-6 col-md-3" ng-repeat="list in lists">
		<list-box list="list" lists="lists" board="board" user="user"></list-box>
	</div>
	
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<a><span ng-click="creatingList=!creatingList">Add a List</span></a>
			<form ng-show="creatingList">
				<label for="title">Title</label>
				<input type="text" name="title" ng-model="listData.title" class="form-control" required>
				<label for="description">Description</label>
				<input type="text" name="description" ng-model="listData.description" class="form-control">
				 <input type="submit" value="Create" class="btn btn-success" class="form-control" ng-click="createList(listData)">
			</form>
		</div>
	</div>

</div>